[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "*"

[dev-packages]
textual = "*"
pylint = "*"
mypy = "*"
twine = "*"
build = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
