[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "*"

[dev-packages]
textual = {extras = ["dev"], version = "*"}
pylint = "*"
mypy = "*"
twine = "*"
build = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.16"
