name: Code quality tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  style-lint-and-test:

    name: Style and lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "3.15"]

    steps:

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Install Dependencies
        run: |
          echo ${{ matrix.python-version }} > .python-version
          make setup

      - name: Check for typos
        run: make spellcheck

      - name: Check the Code style
        run: make codestyle

      - name: Lint the code
        run: make lint

      - name: Type check the code
        run: make stricttypecheck

### style-and-lint.yaml ends here
